body
 {
 	color: black;
 	font-family: 'Oswald', sans-serif;
 	padding: 0;
 	margin: 0;
 }

 div
 {
 	box-sizing: border-box;
 }

 header
 {
 	background-color: #242323 ;
 	height: 70px;

 }

.container
{
	width: 830px;
	margin: 0 auto;
}

.logo
{
	float: left;
}

.logo-text
{
	transition: 0.5s;
	color: #FFF;
	text-transform: uppercase;
	
}


nav
{
	margin-top: 22.5px;
	float: right;
}

.menu
{
	padding: 0;
	margin: 0;
	display: block;
}

.menu li
{
	float: left;
	display: block;
	margin-right: 41px;
}

.menu li a
{
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	cursor: pointer;	
}

.menu li a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #FFF; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.menu li a:hover:after,
.menu li a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}


.content
{
	min-height: calc(100vh - 80px);
}

.content h1
{
	margin-top: 40px;
	text-align: center;
	text-transform: uppercase;
}

.box {
  vertical-align: middle ;
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 400px;
  width: 600px;
  background: url('https://pp.userapi.com/c631619/v631619194/fa14/HJnUHiwygPU.jpg') center  no-repeat;
  background-size: cover;
  cursor: pointer;
}

.hover-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.72);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.box:hover .hover-effect {
  opacity: 1;
}
.box:hover .hover-text {
  right: 0;
}

.hover-text {
  position: absolute;
  right: -100%;
  bottom: 0;
  display: block;
  max-width: 100%;
  padding: 110px 45px;
  color: #e2e2e2;
  text-decoration: none;
  text-align: right;
  line-height: 1.5em;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.5s ease-in-out;
}

.hover-text h3{
  text-align: 10px
  font-size: 2em;
  font-weight: 500;
  padding: 0.8em 0;
  margin-bottom: 0.3em;
  border-bottom: 1px solid #fff;
  margin-bottom: 0;
}

.hover-text p {
	margin-top: 1px;
    width: 70%;
    line-height: 1.7em;
    display: inline-block;
    text-align: right;
}


#teamInfo
{
	text-align: justify;
}

#Composition
{
	margin-top: 120px;
}

.Names
{
	margin-top: 55px;

}

.paragraph 
{
	font-size: 23px;
	margin-top: 0; /* Отступ сверху */
    margin-bottom: 0; 
}

.letter
{
	font-size: 20px;
	font-family: , sans-serif;
	color: #302D2D;

}

.parent
{
	margin-bottom: 0;
}
.parent p
{
    float: left;
    margin-right: 1%;
}

.parent ul
{
    float: left;
}

.lifeStories
{
	margin-top: 40px;
	margin-bottom: 0;
	font-size: 15px;
	text-align: justify;
}
.playersContans 
{
	margin-top: 0;
	margin-bottom: 0;
    list-style-type: none;
    padding: 0;
}

.playersContans li
{
  display: inline-block;
}

.playersContans li a i.fa {
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  padding: 6px;
  border-radius: 40px;
  color: black;
  position: relative;
  transition: all ease 0.2s;
}


.playersContans li a i.fa-vk:hover
 {
  color: #3b5998;
}

.playersContans li a i.fa-instagram:hover
 {
  color: #B2107D;
}


.socInfo
{
	margin-top: 150px;
}
.socInfo ul
{
	margin-bottom: 0;
	text-align: center;
    list-style-type: none;
    padding: 0;
}

.socInfo ul li
{
  display: inline-block;
  margin: 10px;
}

.socInfo ul  a i.fa {
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  padding: 6px;
  border-radius: 40px;
  color: white;
  position: relative;
  transition: all ease 0.2s;
}
.socInfo ul li a i.fa::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 40px;
  background-color: black;
}

.socInfo ul li a i.fa:hover {
  color: #fff;
  font-size: 18px;
}

.socInfo ul li a i.fa:hover::after {
  animation: animate ease 0.6s forwards;
}

.socInfo ul li a i.fa-vk:hover::after {
  background-color: #3b5998;
}

.socInfo ul li a i.fa-at:hover::after {
  background-color: #00aced;
}

.socInfo ul li a i.fa-instagram:hover::after {
  background-color: #8a3ab9;
}

@keyframes animate {
  0%,20% {
    transform: scale(1);
    border-radius: 40px;
    background-color: black;
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
    border-radius: 10px;
  }
  60%,100% {
    transform: scale(1);
    border-radius: 5px;
  }
}
.seehere {
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #ff0000;
}

.socInfo p
{
  margin-top: 1px;
  font-size: 13px;
  text-align: center;
}

