


 body
 {
 	color: black;
 	font-family: 'Oswald', sans-serif;
 	padding: 0;
 	margin: 0;
 }

 div
 {
 	box-sizing: border-box;
 }

 header
 {
 	background-color: #242323 ;
 	height: 70px;

 }

.container
{
	width: 830px;
	margin: 0 auto;
}

.logo
{
	float: left;
}

.logo-text
{
	transition: 0.5s;
	color: #FFF;
	text-transform: uppercase;
	
}


nav
{
	margin-top: 22.5px;
	float: right;
}

.menu
{
	padding: 0;
	margin: 0;
	display: block;
}

.menu li
{
	float: left;
	display: block;
	margin-right: 41px;
}

.menu li a
{
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	cursor: pointer;	
}

.menu li a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #FFF; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.menu li a:hover:after,
.menu li a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.content
{
	 min-height: calc(100vh - 80px);
}



.article
{
	padding: 15px;
}



.article p
{

	font-size: 15px;
	text-align: justify;
}

.article h2
{

	margin-bottom: 0;
}

.article h5
{

	margin-top: 1px;
}


.socInfo
{
	margin-top: 150px;
}
.socInfo ul
{
	margin-bottom: 0;
	text-align: center;
    list-style-type: none;
    padding: 0;
}

.socInfo ul li
{
  display: inline-block;
  margin: 10px;
}

.socInfo ul  a i.fa {
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  padding: 6px;
  border-radius: 40px;
  color: white;
  position: relative;
  transition: all ease 0.2s;
}
.socInfo ul li a i.fa::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 40px;
  background-color: black;
}

.socInfo ul li a i.fa:hover {
  color: #fff;
  font-size: 18px;
}

.socInfo ul li a i.fa:hover::after {
  animation: animate ease 0.6s forwards;
}

.socInfo ul li a i.fa-vk:hover::after {
  background-color: #3b5998;
}

.socInfo ul li a i.fa-at:hover::after {
  background-color: #00aced;
}

.socInfo ul li a i.fa-instagram:hover::after {
  background-color: #8a3ab9;
}

@keyframes animate {
  0%,20% {
    transform: scale(1);
    border-radius: 40px;
    background-color: black;
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
    border-radius: 10px;
  }
  60%,100% {
    transform: scale(1);
    border-radius: 5px;
  }
}
.seehere {
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #ff0000;
}

.socInfo p
{
  margin-top: 1px;
  font-size: 13px;
  text-align: center;
}

